@model IEnumerable<LexiconMDB.Models.Movie>


<b>Genres: </b>
<a href="/Movies/Index/?genre=Horror">Horror</a>
<a href="/Movies/Index/?genre=Drama">Drama</a>
<a href="/Movies/Index/?genre=Comedy">Comedy</a>

<br/>@ViewBag.Title 

<h2></h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Title", "Index", new { orderBy = "Title", genre = ViewBag.Genre, flag = ViewBag.flag})

        </th>
        <th>
            @Html.ActionLink("Length", "Index", new { orderBy = "Length", genre = ViewBag.Genre, flag = ViewBag.flag})
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgeLimit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetaScore)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Length)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgeLimit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetaScore)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
